<div class="home-container">
  <h2>Welcome to the Gym</h2>
  <p>Please register or login to access our services.</p>
  <div>
      <a routerLink="/register" class="btn btn-primary">Register</a>
      <a routerLink="/login" class="btn btn-secondary">Login</a>
  </div>
  
  <!-- Section d'information -->
  <div class="info-section">
      <h3>About Us</h3>
      <p>We offer a variety of classes and equipment to help you achieve your fitness goals.</p>
  </div>

  <!-- Section de contact -->
  <div class="contact-section">
      <h3>Contact Us</h3>
      <p>For more information, email us at <a href="mailto:contact@gym.com">contactgym.com</a></p>
  </div>
</div>
